# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log
logs/

# Local development settings
local_settings.py
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Distribution / packaging
.Python
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Cache
cache/
tests/binance_data_cache
scripts/binance_vision_api_aws_s3/historical_data/earliest_dates
docs/complaints_to_binance
test_cache/
prof/
tmp/
.autoflake_backup
