[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "raw-data-services"
version = "0.1.0"
description = "High-performance package for efficient market data retrieval from Binance"
readme = "README.md"
requires-python = ">=3.11"
license = {text = "Proprietary"}
authors = [
    {name = "Eon Labs"}
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11"
]
dependencies = [
    "pyarrow>=19.0.1", # for local cache files in MMAP Array format
    "polars", # resample and aggregate data faster than pandas
    "pandas", # compatbility with existing code
    "numpy", # for numerical operations
    "fsspec", # for downloading remote files and local file hyrarchy matching of remote files
    "requests", # fsspec compatible HTTP client
    "httpx>=0.24.0", # as preferred HTTP client
    "aiohttp", # for HTTP requests
    "tenacity", # for retrying operations
    "colorlog", # for colored logging
    "psutil", # for system monitoring
    "typer", # for CLI
    "rich", # for elegant logging and CLI output
    "pendulum" # for date and time operations
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-asyncio",
    "pytest-cov",
    "pytest-xdist",
    "pytest-profiling",
    "rope", # for refactoring imports
    "ruff", # for linting and formatting
    "pylint", # for linting
    "autoflake", # for cleaning up imports
    "vulture", # for dead code detection
    "twine" # for uploading to PyPI
]

# Command-line scripts defined here
[project.scripts]
dsm-demo-cli = "examples.sync.dsm_demo_cli:app"
dsm-demo-module = "examples.lib_module.dsm_demo_module:main"

[tool.setuptools]
packages = ["core", "utils", "examples", "utils_for_debug"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"
python_functions = "test_*" 